In [1]:
-- Nuke database
DROP DATABASE IF EXISTS shipping;
CREATE DATABASE shipping;
USE shipping;

In [2]:
use shipping;


Create Table destination_address (
    id INT PRIMARY KEY,
    country VARCHAR(2),
    name_line VARCHAR(255),
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    organisation_name VARCHAR(255),
    administrative_area VARCHAR(50),
    sub_administrative_area VARCHAR(50),
    locality VARCHAR(50),
    dependent_locality VARCHAR(50),
    postal_code VARCHAR(50),
    thoroughfare VARCHAR(255),
    premise VARCHAR(255),
    sub_premise VARCHAR(255)
);

Create Table facilities (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    address_id INT,
    type INT,
    arrived_status_code INT,
    departed_status_code INT,
    FOREIGN KEY (address_id) REFERENCES destination_address(id) ON DELETE CASCADE
);


Create Table insurance_type(
    id INT PRIMARY KEY,
    name VARCHAR(50),
    description VARCHAR(255),
    min_coverage DECIMAL(10, 2),
    max_coverage DECIMAL(10, 2),
    cost_per500Miles DECIMAL(10, 2)
);


Create Table insurance (
    id INT PRIMARY KEY,
    type INT,
    price DECIMAL(10, 2),
    value_coverage DECIMAL(10, 2),
    FOREIGN KEY (type) REFERENCES insurance_type(id) ON DELETE CASCADE
);
Create Table shipment_type (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    priority INT,
    description VARCHAR(255),
    days_per500Miles INT,
    cost_per500Miles DECIMAL(10, 2)
);




CREATE TABLE package (
    id INT PRIMARY KEY,
    width INT,    -- In centimeters
    length INT,     -- In centimeters
    height INT,   -- In centimeters
    weight INT,  -- In grams
    price DECIMAL(10, 2),  -- In dollars
    type INT,
    insurance_id INT,
    shipment_id INT,
    estimated_distance INT,
    estimated_time_from_dispatch INT,
    time_created TIMESTAMP,
    time_updated TIMESTAMP,
    time_of_dispatch TIMESTAMP,
    time_of_delivery TIMESTAMP,
    delivery_cordinates_x DECIMAL(6,4),
    delivery_cordinates_y DECIMAL(6,4),
    delivery_conformation VARCHAR(255),
    FOREIGN KEY (insurance_id) REFERENCES insurance(id) ON DELETE CASCADE, 
    -- MySQL can't just reference insurance, needs to be more specific.
    FOREIGN KEY (shipment_id) REFERENCES shipment_type(id) ON DELETE CASCADE
);


CREATE TABLE accounts(
    id INT PRIMARY KEY,
    username VARCHAR(50),
    roll VARCHAR(10),
    facility_id INT,
    FOREIGN KEY (facility_id) REFERENCES facilities(id) ON DELETE SET NULL
);



Create Table package_status (
    id INT PRIMARY KEY AUTO_INCREMENT,
    package_id INT, 
    status INT,
    time_created TIMESTAMP,
    location_x DECIMAL(6,4),
    location_y DECIMAL(6,4),
    location_name VARCHAR(255),
    location_id INT,
    FOREIGN KEY (package_id) REFERENCES package(id) ON DELETE CASCADE,
    FOREIGN KEY (location_id) REFERENCES facilities(id) ON DELETE SET NULL
    
);

Create Table ready_for_assignment (
    id INT PRIMARY KEY AUTO_INCREMENT,
    package_id INT,
    time_created TIMESTAMP,
    location INT, --facility_id
    FOREIGN KEY (package_id) REFERENCES package(id) ON DELETE CASCADE,
    FOREIGN KEY (location) REFERENCES facilities(id) ON DELETE SET NULL
);


Create Table status_info (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    description VARCHAR(255),
    progress_bar_percentage INT,
    tense_name VARCHAR(50)
);

Create Table package_assignment (
    id INT PRIMARY KEY AUTO_INCREMENT,
    package_id INT,
    driver_id INT,
    status INT, -- 0 for not ready, 1 for ready, 2 for dispatched, 3 for completed
    time_assigned TIMESTAMP,
    time_dispatched TIMESTAMP,
    time_completed TIMESTAMP,
    to_address BIT, -- 1 if destination, 0 if other
    from_facility_id INT,
    to_facility_id INT,
    FOREIGN KEY (package_id) REFERENCES package(id) ON DELETE CASCADE,
    FOREIGN KEY (driver_id) REFERENCES accounts(id) ON DELETE CASCADE,
    FOREIGN KEY (from_facility_id) REFERENCES facilities(id) ON DELETE CASCADE,
    FOREIGN KEY (to_facility_id) REFERENCES facilities(id) ON DELETE CASCADE
);

In [3]:
INSERT INTO package(id) VALUES(1000000000);
--Insurance codes
INSERT INTO insurance_type (id, name, description, min_coverage, max_coverage, cost_per500Miles)
VALUES 
(1, 'Basic Parcel', 'Standard coverage for low-value domestic shipments', 100.00, 1000.00, 0.05),

(2, 'Premium Parcel', 'Enhanced coverage for valuable domestic shipments', 1000.01, 5000.00, 0.06),

(3, 'Perishable Goods', 'Coverage for temperature-sensitive and perishable items', 500.00, 10000.00, 0.09);


INSERT INTO status_info (id, name, tense_name, description, progress_bar_percentage) VALUES
-- Initial States
(1, 'Scanned', 'has been scanned', 'Package has been scanned into the system but not yet dispatched', 10),
(2, 'Dispatched', 'is being dispatched', 'Package has been dispatched for delivery', 15),
(3, 'In Transit', 'is in transit', 'Package is in transit between facilities', 25),
(4, 'Processing', 'is being processed', 'Package is being processed at a facility', NULL),
(5, 'Delivered', 'has been delivered', 'Package has been successfully delivered to its destination', 100),
(6, 'Lost', 'has been lost', 'Package has been reported as lost', 0),
(7, 'Damaged', 'has been damaged', 'Package has been reported as damaged', 0),
(8, 'Returned', 'is being returned', 'Package is being returned to sender', 0),
(9, 'Cancelled', 'has been cancelled', 'Delivery has been cancelled', 0),
(10, 'On Hold', 'is on hold', 'Package delivery is temporarily on hold', 0),
(11, 'Out for Delivery', 'is out for delivery', 'Package is out for final delivery', 90),
(12, 'reserved', 'reserved', 'reserved', 0),
(13, 'reserved', 'reserved', 'reserved', 0),
(14, 'reserved', 'reserved', 'reserved', 0),
(15, 'reserved', 'reserved', 'reserved', 0),
(16, 'reserved', 'reserved', 'reserved', 0),
(17, 'reserved', 'reserved', 'reserved', 0),
(18, 'reserved', 'reserved', 'reserved', 0),
(19, 'reserved', 'reserved', 'reserved', 0),


-- Facility Status Codes
(20, 'Arrived at Facility', 'has arrived at facility', 'Package has arrived at a general facility', NULL),
(21, 'Departed from Facility', 'has departed from facility', 'Package has departed from a general facility', NULL),
(22, 'Arrived at Local Facility', 'has arrived at local facility', 'Package has arrived at a local facility', NULL),
(23, 'Departed from Local Facility', 'has departed from local facility', 'Package has departed from local facility', NULL);


INSERT INTO destination_address (
    id,
    country,
    name_line,
    first_name,
    last_name,
    organisation_name,
    administrative_area,
    locality,
    postal_code,
    thoroughfare,
    premise
) VALUES 
    (0, 'US', 'John Doe', 'John', 'Doe', 'Doe Inc.', 'CA', 'Santa Clara', '95050', '123 Main St.', 'Apt 1'),    -- Default address
    (101, 'US', 'Chicago Distribution Center', 'Chicago', 'Distribution Center', 'Chicago DC Inc.', 'IL', 'Chicago', '60601', '123 Main St.', 'Suite 100'),
    (102, 'US', 'LA Port Facility', 'LA', 'Port Facility', 'LA Port Inc.', 'CA', 'Los Angeles', '90001', '456 Harbor Blvd.', 'Dock 2'),
    (103, 'US', 'NYC Distribution Hub', 'NYC', 'Distribution Hub', 'NYC Hub Inc.', 'NY', 'New York', '10001', '789 Broadway', 'Floor 3'),
    (104, 'US', 'Dallas Sorting Center', 'Dallas', 'Sorting Center', 'Dallas Sorting Inc.', 'TX', 'Dallas', '75201', '321 Elm St.', 'Building 4'),
    (105, 'US', 'Miami International Hub', 'Miami', 'International Hub', 'Miami Hub Inc.', 'FL', 'Miami', '33101', '987 Ocean Dr.', 'Terminal 5'),
    (106, 'US', 'Seattle Port Center', 'Seattle', 'Port Center', 'Seattle Port Inc.', 'WA', 'Seattle', '98101', '654 Harbor Ave.', 'Pier 7'),
    (107, 'US', 'Denver Local Hub', 'Denver', 'Local Hub', 'Denver Hub Inc.', 'CO', 'Denver', '80201', '741 Main St.', 'Suite 200'),
    (108, 'US', 'Atlanta Distribution Center', 'Atlanta', 'Distribution Center', 'Atlanta DC Inc.', 'GA', 'Atlanta', '30301', '852 Peachtree St.', 'Building 3'),
    (109, 'US', 'Boston Local Center', 'Boston', 'Local Center', 'Boston Center Inc.', 'MA', 'Boston', '02101', '369 Beacon St.', 'Floor 2'),
    (110, 'US', 'Phoenix Sorting Facility', 'Phoenix', 'Sorting Facility', 'Phoenix Sorting Inc.', 'AZ', 'Phoenix', '85001', '456 Desert Rd.', 'Unit 1');


INSERT INTO facilities (
    id,
    name,
    address_id,
    type,
    arrived_status_code,
    departed_status_code
) VALUES 
    (0, 'Address' , 0, 0,5,5),
    (1, 'Chicago Distribution Center', 101, 1, 20, 21),
    (2, 'LA Port Facility', 102, 2, 20, 21),
    (3, 'NYC Distribution Hub', 103, 1, 20, 21),
    (4, 'Dallas Sorting Center', 104, 4, 20, 21),
    (5, 'Phoenix Sorting Facility', 110, 4, 20, 21);

INSERT INTO accounts (id, username, roll, facility_id) VALUES
(1, 'driver1', 'Driver', 1),
(2, 'driver2', 'Driver', 1),
(3, 'driver3', 'Driver', 1),
(4, 'driver4', 'Driver', 2),
(5, 'driver5', 'Driver', 2),
(6, 'driver6', 'Driver', 2),
(7, 'driver7', 'Driver', 3),
(8, 'driver8', 'Driver', 3),
(9, 'driver9', 'Driver', 3),
(10, 'driver10', 'Driver', 4),
(11, 'driver11', 'Driver', 4),
(12, 'driver12', 'Driver', 4),
(13, 'driver13', 'Driver', 5),
(14, 'driver14', 'Driver', 5),
(15, 'driver15', 'Driver', 5);

INSERT INTO accounts (id, username, roll, facility_id) VALUES
(16, 'clerk1', 'Clerk', 1),
(17, 'clerk2', 'Clerk', 2),
(18, 'clerk3', 'Clerk', 3),
(19, 'clerk4', 'Clerk', 4),
(20, 'clerk5', 'Clerk', 5);
INSERT INTO accounts (id, username, roll, facility_id) VALUES
(21, 'manager1', 'Manager', 1),
(22, 'manager2', 'Manager', 2),
(23, 'manager3', 'Manager', 3),
(24, 'manager4', 'Manager', 4),
(25, 'manager5', 'Manager', 5);







INSERT INTO shipment_type(
    id,
    name,
    priority,
    description,
    days_per500Miles,
    cost_per500Miles
) VALUES
(1, 'Standard', 1, 'Standard delivery service', 1, 1),
(2, 'Express', 2, 'Express delivery service', .5, 2),
(3, 'Overnight', 3, 'Overnight delivery service', .3, 3);